@import "assets/styles/mixin";

#pagination {

  .pagination {
    padding: 2vw;
    display: inline-block;
    user-select: none;
    display: flex;
    justify-content: center;

    &-list {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    &-item {
      position: relative;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      margin-right: 1.5vw;
      user-select: none;
      border: 2px solid var(--color-border-sub);
      padding: .4vw .8vw;
      color: var(--color-text-default);
      font-weight: 500;
      border-radius: 50%;
      transition: .3s;
      font-size: 1em;

      .right {
        transform: rotate(180deg) !important;
      }



      &:active {
        background-color: var(--color-bg-orange);
        border: 2px solid var(--color-border-orange);
        color: var(--color-text-inverse);
      }

      &:last-of-type {
        margin-right: 0;
      }

      &.on {
        color: var(--color-text-inverse);
        background-color: var(--color-bg-orange);
        border: 2px solid var(--color-border-orange);
      }
    }

    .disabled,
    .icon {
      padding: 0;
      border: 2px solid var(--color-border-orange);

      .pagination-arrow {
        width: 1.7em;
        height: 1.7em;
        padding: .2em;
      }
    }


    .disabled {
      cursor: no-drop;
    }

    &-arrow {
      width: 1vw;
      height: 1.2vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}