.said_bar {
  display: flex;
  padding: 2em 0;
  padding-left: 5em;
  width: 100%;
  gap: 5em;
  user-select: none;

  @media (max-width: 900px) {
    padding: 1em;
    flex-direction: column;
  }

  .left_bar {
    // outline: 2px solid;
    width: 12em;

    @media (max-width: 900px) {
      width: 100%;
    }

    .said_bar_box {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      align-items: flex-start;

      .navigator {
        color: var(--color-text-default);
        font-size: 0.9em;
        transition: 0.3s;

        &:hover {
          color: var(--color-text-primary);
          transition: 0.3s;
          transform: scale(1.1);
        }
      }

      .default {
        color: var(--color-text-default) !important;
        transition: 0.3s;
        transform: scale(1) !important;
      }

      .line {
        border: 1px solid var(--color-border-sub);
        width: 100%;
      }

      .activeLink {
        color: var(--color-text-primary);
        border-bottom: 2px solid var(--color-border-orange);
      }
    }
  }
}
