.navigate {
  background: linear-gradient(
    139.73deg,
    rgb(229, 253, 255) 0%,
    rgb(243, 239, 255) 100%
  );
  padding: 0.7em 3em;
  font-size: 1.2em;
  user-select: none;

  @media screen and (max-width: 900px) {
    padding: 0.5em;
  }

  .navigate__box {
    display: flex;

    @media screen and (max-width: 900px) {
      justify-content: center;
    }
  }
}
