#navbar {
  width: 100%;
  background: var(--color-bg-default);
  padding: 1em;
  padding-right: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  height: 4em;
  user-select: none;
  border-bottom: 1px solid #e7e3eb;

  @media (max-width: 900px) {
    padding: 1em;
    padding-right: 1em;
    gap: 0;
  }

  .right_side {
    display: flex;
    gap: 1.5em;
    align-items: center;

    @media (max-width: 900px) {
      gap: 0.5em;
    }
  }

  .left_box {
    display: flex;
    align-items: center;
    gap: 1.5em;

    @media (max-width: 900px) {
      gap: 0em;
    }

    .navigation_line {
      a {
        color: var(--color-text-secondary);
        transition: 0.3s;
        width: 1em;
        padding: 0 16px;

        @media (max-width: 900px) {
          padding: 0 8px;
        }

        &:hover {
          transform: scale(1.1);
          transition: 0.3s;
        }
      }

      .activeLink {
        transition: 0.3s;
        color: var(--color-text-primary);
        font-weight: 600;
      }
    }
  }

  a,
  .login {
    text-decoration: none;
    transition: 0.3s;

    img {
      width: 2em;
    }

    &:hover {
      transition: 0.3s;
    }
  }

  .select_language {
    background: red;
    padding: 0.5em;
    border-radius: 0.3em;
    font-size: 1em;
    background: transparent;
    color: wheat;
    border: 1px solid wheat;
    width: 3.5em;
    margin: 0;
    text-transform: lowercase;

    &:focus {
      outline: none;
    }
  }
}
