.input {
  border: 0;
  box-shadow: inset 0px 0px 0px 1px var(--color-border-sub);
  padding: 12px;
  color: var(--color-text-default);
  transition: box-shadow 0.15s;
  appearance: none;
  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 2px var(--color-border-orange);
  }
}
