#loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  background: #8cc4f949;
  backdrop-filter: blur(2px);
  align-items: center;
  width: 100%;
  height: 100%;

  .spinner {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #1B6392);
    -webkit-mask: radial-gradient(farthest-side,
        #0000 calc(100% - 9px),
        #000 0);
    animation: spinner-zp9dbg 1s infinite linear;
  }

  @keyframes spinner-zp9dbg {
    to {
      transform: rotate(1turn);
    }
  }
}