.detail {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding-top: 2em;

  .img_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    user-select: none;

    .big_img {
      width: 30em;
      height: 25em;
      border: 1px solid var(--color-border-sub);
      border-radius: .3em;
    }

    .all_images {
      display: flex;
      align-items: center;
      gap: .5em;

      .arrow {
        background: var(--color-bg-orange);
        width: 2em;
        padding: .2em;
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;

        &:hover {
          transform: scale(1.1);
          transition: .3s;
          background: #f6b081;

        }

        &:active {
          background: #ee6e19;
        }
      }

      .right {
        transform: rotate(180deg);
        transition: .3s;

        &:hover {
          transform: rotate(180deg) scale(1.1);
          transition: .3s;
        }
      }

      .small_img {
        width: 6em;
        height: 5em;
        border: 1px solid var(--color-border-sub);
        border-radius: .3em;
        cursor: pointer;
      }

      .active_img {
        border: 1px solid var(--color-border-orange);
      }
    }
  }

  .content_box {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 30em;

    .content_main {
      display: flex;
      flex-direction: column;
      gap: 1em;
      font-size: 1em;

      .description {}

      .price {
        color: var(--color-text-primary);
        font-weight: 700;
        font-size: 1.2em;
      }
    }

    .button_box {
      display: flex;
      justify-content: space-around;

      .primary {
        display: flex;

        .add_cart_btn {
          display: flex;
          gap: .5em;

          span {
            font-size: 1em;
          }

          img {
            width: 1em;
            height: 1em;
          }
        }

      }

    }
  }
}