@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.event_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;

  .event {
    display: flex;
    flex-direction: column;
    gap: 1em;
    // border: 1px solid var(--color-border-sub);
    border-radius: 0.3em;
    overflow: hidden;
    box-shadow: 0 11px 15.5px -7.5px #dddddd;

    .event_img {
      width: 35em;

      @media (max-width: 900px) {
        width: 100%;
      }
    }

    .event_main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1em;
      align-items: flex-start;
      gap: 1em;

      .description_title,
      .name {
        font-weight: bold;
        font-size: 1.2em;
      }

      .title {
        font-size: 1em;
      }

      .more {
        padding: 0.5em 2em;
        border-radius: 1em;
        background: var(--color-bg-orange);

        &:enabled:hover {
          background: #f6b081;
        }

        &:enabled:active {
          background: #ee6e19;
        }
      }

      .claimed {
        background: var(--color-border-sub);
        cursor: no-drop;

        &:enabled:hover {
          background: var(--color-border-sub);
        }

        &:enabled:active {
          background: var(--color-border-sub);
        }

        span {
          cursor: no-drop;
        }
      }

      .copy_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .copy_link {
          display: flex;
          align-items: center;
          gap: 1em;
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
            transition: 0.3s;
          }

          .text {
            cursor: pointer;
            font-weight: bold;
          }

          .icon {
            width: 1.5em;
          }
        }

        .btn_box {
          display: flex;
          // outline: 2px solid;
          align-items: center;
          gap: 1em;

          .icon {
            width: 2em;
          }
        }
      }
    }
  }
}
